a:link, a:visited {
    background-color: #767474;
    color: white;
    text-align: center;
    text-decoration: none;
   float: right;
    text-align:right;
    padding: 16px 32px;
    margin: 50px 50px;
    border-radius: 10px;
    font-family: 'Helvetica', serif;
    font-size: 20px;
    width: 25%;
  }
  
  a:hover, a:active {
    background-color: #767474;
  }